# ENVIRONMENT MODE
NODE_ENV=development
PORT=4400

# DATABASE CONNECTION
DATABASE_URL="postgresql://username:password@localhost:6432/netlink_db"

# SECURITY SECRETS
JWT_SECRET="replace-with-a-strong-secret-min-10-chars"

# OPTIONAL ENV VARIABLES
REDIS_URL=""