# ENVIRONMENT MODE
NODE_ENV=development
PORT=4400

# DATABASE CONNECTION
DATABASE_URL="postgresql://username:password@localhost:6432/netlink_db"

# SECURITY SECRETS
JWT_SECRET="asfvf8797dsfsd88d8sfd8"

# OPTIONAL ENV VARIABLES
REDIS_URL="redis://localhost:6379"